.expense-date {
  color: white;
  background-color: darkgray;
  border: 1px solid white;
  border-radius: 10px;
  padding: 3px 6px;
  flex: 0 0 60px;
}

.expense-date__month {
  font-weight: 700;
}

.expense-date__day {
  font-weight: 700;
}
