.input--form {
  /* margin: 30px auto;
  padding: 20px;
  background-color: white; */
  /* width: 300px; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 600;
}

.input--form__button {
  width: 80px;
  height: 30px;
  background-color: blueviolet;
  color: white;
  border: none;
  cursor: pointer;
}
